* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;

}

#container {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    margin: 50px auto;
    
    max-width: 900px;

}

img {

    width: 250px;

}

.card{

    position: relative;

    margin: 5px;

}

.card .discount {

    position: absolute;

    left: 0;

    top: 300px;

    z-index: 1;

    background-color: red;

    padding: 5px 10px;

    color: white;

}

.sosteninilita {

    position: absolute;

    top: 300px;

    left: 60px;

    background-color: green;

    padding: 5px 10px;

    color: white


}
